node_modules
aws-elastic-beanstalk-cli
.env
.txt
uploads
*.log
.local-mongodb-rs/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

AGENTS.md
